<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>MicroMessage</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ListServlet</display-name>
		<servlet-name>ListServlet</servlet-name>
		<servlet-class>com.srie.servlet.ListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteOneServlet</display-name>
		<servlet-name>DeleteOneServlet</servlet-name>
		<servlet-class>com.srie.servlet.DeleteOneServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteBatchServlet</display-name>
		<servlet-name>DeleteBatchServlet</servlet-name>
		<servlet-class>com.srie.servlet.DeleteBatchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListServlet</servlet-name>
		<url-pattern>/List.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteOneServlet</servlet-name>
		<url-pattern>/DeleteOneServlet.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteBatchServlet</servlet-name>
		<url-pattern>/DeleteBatchServlet.action</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
